<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>bookticket</title>
</head>

<body>
    <small style="color: aliceblue;">
        <%=alert%>
    </small>
    <small id="s1" style="color: green;"></small>
    <small id="ei" style="color: red;"></small>
    <small id="r1" style="color: red;"></small>
    <h1 style="text-align: center;">Booktickets</h1>
    <form method="post" action="/ticket">
        <label for="ticketno">TicketNo </label><br>
        <input type="number" id="tickno" name="tickno" placeholder="enter ticketno">
        <small id="e3" style="color: red;"></small><br>
        <label for="showid">ShowId </label><br>
        <input type="text" id="showid" name="showid" placeholder="enter showid">
        <small id="e2" style="color: red;"></small><br>
        <label for="seatno">SeatNo </label><br>
        <input type="number" id="seatno" name="seatno" placeholder="enter seatno">
        <small id="e1" style="color: red;"></small><br>
        <button type="submit">enter</button>
    </form>
</body>
<script>
    var ticket = "<%-alert%>";
    if (ticket == "s1") {
        document.getElementById('s1').innerHTML = "ticket details stored successfully";
    } else if (ticket == "ei") {
        document.getElementById('ei').innerHTML = "error occred table data";
    } else if (ticket == "e1") {
        document.getElementById('seatno').innerHTML = "please enter seatno";
    } else if (ticket == "e2") {
        document.getElementById('showid').innerHTML = "please enter showid";
    } else if (ticket == "e3") {
        document.getElementById('tickno').innerHTML = "please enter ticketno";
    } else if (ticket == "r1") {
        document.getElementById('r1').innerHTML = "TicketNo already existed";
    }
</script>

</html>