<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>forget</title>
</head>

<body style="text-align: center;">
    <br>
    <h1>forget</h1><br>
    <form method="post" action="/forget">
        <div style="text-align: left; padding-left: 15cm;">
            <label for="email"> Enter email</label><br>
            <input type="text" id="email" name="email">
            <br>
            <label for="psw">Enter password</label><br>
            <input type="text" id="password" name="psw">
            <br>
            <label for="cpsw">Enter conform password </label><br>
            <input type="text" id="c_password" name="cpsw">
            <br>
            <button type="submit">click</button>
        </div>
    </form>
</body>

</html>