<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Theater</title>
</head>

<body>
    <small style="color: aliceblue;">
        <%=alert1%>
    </small>
    <br>
    <h1 style="text-align: center;">Theater</h1><br>
    <div style="text-align: center;">
        <small id="p1" style="color: green; text-align: center;"></small>
        <small id="r1" style="color: red; text-align: center;"></small>
    </div>

    <form method="post" action="/t1">
        <div style="padding-left: 1.5cm;">
            <label for="hallid"> Theater_id</label><br>
            <input type="text" id="hallid" name="hallid" placeholder="enter hallid">
            <small id="m1" style="color: red;"></small>
            <br>
            <label for="class"> Class type</label><br>
            <input type="text" id="class" name="class" placeholder="enter class type">
            <small id="m2" style="color: red;"></small>
            <br>
            <label for="no.of_seats">No.of_seats</label><br>
            <input type="number" id="seats" name="seats" placeholder="Enter no.of seats">
            <small id="m3" style="color: red;"></small>
            <br>
            <br>
            <button type="submit">Enter</button>
        </div>
    </form>
</body>
<script>
    let theater = "<%-alert1%>";
    if (theater == "s1") {
        document.getElementById('p1').innerHTML = "theater details stored successfully";
    } else if (theater == "e3") {
        document.getElementById('m1').innerHTML = "please enter hall_id";
    } else if (theater == "e2") {
        document.getElementById('m2').innerHTML = "please enter class_type";
    } else if (theater == "e1") {
        document.getElementById('m3').innerHTML = "please enter no.of_seats";
    } else if (theater == "r1") {
        document.getElementById('r1').innerHTML = "theaterid and class type already stored";
    }
</script>

</html>